body {
    background: #f3f3f3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Enlaces/images/background.jpg);
    background-size: cover;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    color: #fff;
}

.nav-bar h1 {
    font-size: 62px;
    color: #c7c7c7;
    border-bottom: solid 3px #c7c7c7;
}

.navegador li {
    list-style: none;
    display: inline-block;
}

.navegador li a {
    color: #fff;
    text-decoration: none;
    border: inset rgb(92, 5, 5); 
    border-radius: 50px;
    padding: 5px;
    font-weight: bold;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    border-width: 2pt;
}

.navegador li a:hover {
    color: rgb(92, 5, 5);
    background: linear-gradient(#e84343, rgb(92, 5, 5));
}

.container {
    padding: 70px;
}

.title-1 {
    color: #c7c7c7;
    font-family: cursive;
    margin-right: 10pt;
}

.menu a {
    text-decoration: none;
    text-decoration: none;
    border: inset rgb(92, 5, 5); 
    border-radius: 20px;
    padding: 10px;
    font-size: 50px;
    border-width: 3pt;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    color: #fff;
    margin-left: 230pt;
}

.menu a:hover {
    color: rgb(92, 5, 5);
    background: linear-gradient(#e84343, rgb(92, 5, 5));
}

.logo {
    margin-right: 650pt;
    margin-top: 10pt;
}

.logo figure {
    border: inset rgb(92, 5, 5);
    padding: 5pt;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    border-radius: 30px;
    text-align: center;
    font-family: cursive;
    color:#fff;
    margin-top: 95pt;
    margin-left: 0pt;
    border-width: 3pt;
}

.logo h1 {
    color: #c7c7c7;
}