body {
    background: #f3f3f3;
    font-family:cursive;
    margin: 0;
    padding: 0;
    background-image: url(Enlaces/images/background.jpg);
    background-size: cover;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    color: #fff;
}

.nav-bar h1 {
    font-size: 62px;
    color: #c7c7c7;
    border-bottom: solid 3px #c7c7c7;
}

.navegador li {
    list-style: none;
    display: inline-block;
}

.navegador li a {
    color: #fff;
    text-decoration: none;
    border: inset rgb(92, 5, 5); 
    border-radius: 50px;
    padding: 5px;
    font-weight: bold;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    border-width: 2pt;
}

.navegador li a:hover {
    color: rgb(92, 5, 5);
    background: linear-gradient(#e84343, rgb(92, 5, 5));
}

.left-column {
    float: left;
    font-family: cursive;
    width: 60%;
    margin-top: 50pt;
    margin-left: 25pt;
}

.left-column h2 {
    color: #fff;
    margin-left: 10pt;
    box-sizing: border-box;
    background-color:  rgba(92, 5, 5, 0.877);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 10px;
}

.left-column h1 {
    color: #c7c7c7;
}

.left-column a {
    text-decoration: none;
    text-decoration: none;
    border: inset rgb(92, 5, 5); 
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border-width: 2pt;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    color: #fff;
    margin-bottom: 85pt;
}

.left-column a:hover {
    color: rgb(92, 5, 5);
    background: linear-gradient(#e84343, rgb(92, 5, 5));
}

.left-column figure {
    border: inset rgb(92, 5, 5);
    padding: 5pt;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    border-radius: 30px;
    text-align: center;
    font-family: cursive;
    color:#fff;
    border-width: 3pt;
    position: absolute;
    margin-top: 50pt;
    margin-left: 100pt;
}