body {
    background: #f3f3f3;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.heading a{
    color: #fff;
    text-decoration: none;
    border: inset rgb(92, 5, 5); 
    border-radius: 50px;
    padding: 5px;
    font-weight: bold;
    background: linear-gradient(rgb(92, 5, 5), #e84343);
    border-width: 2pt;
}

.heading a:hover {
    color: rgb(92, 5, 5);
    background: linear-gradient(#e84343, rgb(92, 5, 5));
}

.heading h1 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.heading h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.menu {
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: cursive;
    padding: 50px;
    box-sizing: border-box;
    background-color:  rgba(92, 5, 5, 0.877);
	box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
    border-radius: 15px;
    color: #c7c7c7;
}

.menu h2{
    color: #fff;
}

table {
    display: inline-block;
}

img {
    height: 200px;
    width: 225px;
    border: inset rgb(92, 5, 5);
    border-radius: 45px;
}